{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Free Facebook video downloader - Download Facebook videos easily!">
<meta name="keywords" content="facebook video downloader, download facebook videos free">
<title>Facebook Video Downloader - SmartToolsHub</title>
{% endblock %}

{% block content %}
<h2>Facebook Video Downloader</h2>
<form method="POST">
    <input type="url" name="url" placeholder="Facebook video URL" required style="width:400px;">
    <br><br>
    <button type="submit">Download</button>
</form>
{% endblock %}
