{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Free GIF to video converter - Convert GIF animations to MP4 video online!">
<meta name="keywords" content="gif to video, gif to mp4, convert gif free online">
<title>GIF to Video Converter - SmartToolsHub</title>
{% endblock %}

{% block content %}
<h2>Convert GIF to Video</h2>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="gif_file" required>
    <br><br>
    <button type="submit">Convert</button>
</form>
<p>Converted MP4 will be downloaded.</p>
{% endblock %}
