{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Free PDF to image converter - Convert PDF pages to JPG PNG images!">
<meta name="keywords" content="pdf to image, pdf to jpg, convert pdf to png free">
<title>PDF to Image Converter - SmartToolsHub</title>
{% endblock %}

{% block content %}
<h2>Convert PDF to Image(s)</h2>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="pdf_file" required>
    <br><br>
    <button type="submit">Convert</button>
</form>
<p>If the PDF has multiple pages you will get a ZIP file of images.</p>
{% endblock %}
