{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Free PDF protect - Add password protection to your PDF files online!">
<meta name="keywords" content="pdf protect, password protect pdf, secure pdf free">
<title>PDF Protect - SmartToolsHub</title>
{% endblock %}

{% block content %}
<h2>Protect PDF</h2>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="pdf_file" required>
    <br><br>
    <input type="password" name="password" placeholder="Password" required>
    <br><br>
    <button type="submit">Protect</button>
</form>
{% endblock %}
