{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Free PDF unlocker - Remove password from PDF files online instantly!">
<meta name="keywords" content="pdf unlock, remove pdf password, unlock pdf free online">
<title>PDF Unlocker - SmartToolsHub</title>
{% endblock %}

{% block content %}
<h2>Unlock PDF</h2>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="pdf_file" required>
    <br><br>
    <input type="password" name="password" placeholder="Current Password" required>
    <br><br>
    <button type="submit">Unlock</button>
</form>
{% endblock %}
