{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Free PDF to HTML converter - Convert PDF files to HTML web pages online!">
<meta name="keywords" content="pdf to html, convert pdf to html, pdf converter free">
<title>PDF to HTML Converter - SmartToolsHub</title>
{% endblock %}

{% block content %}
<h2>Convert PDF to HTML</h2>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="pdf_file" required>
    <br><br>
    <button type="submit">Convert</button>
</form>
<p>The HTML will contain embedded images of each page.</p>
{% endblock %}
