{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Free background remover - Remove image background automatically in seconds!">
<meta name="keywords" content="remove background, background remover free, remove image background">
<title>Background Remover - SmartToolsHub</title>
{% endblock %}

{% block content %}
<h2>Remove Background from Image</h2>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="image_file" required>
    <br><br>
    <button type="submit">Remove Background</button>
</form>
{% endblock %}
