{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Free site media downloader - Download all images and videos from any website!">
<meta name="keywords" content="site downloader, download website media, website image downloader free">
<title>Site Media Downloader - SmartToolsHub</title>
{% endblock %}

{% block content %}
<h2>Website Media Downloader</h2>
<form method="POST">
    <input type="url" name="url" placeholder="https://example.com" required style="width:400px;">
    <br><br>
    <button type="submit">Download Media</button>
</form>
{% endblock %}
