{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Free Twitter/X video downloader - Download Twitter videos easily!">
<meta name="keywords" content="twitter video downloader, x video downloader free">
<title>Twitter Video Downloader - SmartToolsHub</title>
{% endblock %}

{% block content %}
<h2>Twitter / X Video Downloader</h2>
<form method="POST">
    <input type="url" name="url" placeholder="Twitter / X video URL" required style="width:400px;">
    <br><br>
    <button type="submit">Download</button>
</form>
{% endblock %}
